@using FoodCards.Client.Helper
@using FoodCards.Client.Layouts
@using FoodCards.Client.Script
@using FoodCards.Client.Services
@using FoodCards.Shared
@using FoodCards.Shared.Dish
@inject DishSetUpDataService dishData
@inject NavigationManager nav
@inject LocalStorage storage
@inject AuthorizeMonitorService authorizationService

@if (foodItems.Count > 0)
{
    <div class="card free">
        <FoodTypePie @ref=@foodTypePie />
    </div>
}
@if(!displayCardView)
{
    <div class="card free">
        <button type="button" @onclick=AddBreakfast>
            @DictionaryHelper.Breakfast
        </button>
        <button type="button" @onclick=AddLunch>
            @DictionaryHelper.Lunch
        </button>
        <button type="button" @onclick=AddDinner>
            @DictionaryHelper.Dinner
        </button>
        <button type="button" @onclick=AddSnacks>
            @DictionaryHelper.Snack
        </button>
    </div>
    <div class="card free">
        <button type="button" @onclick=OpenDishSetUpMenu>
            @DictionaryHelper.Goals
        </button>
        @if (chartBars.Count > 0)
        {
            <div style="margin-top: 2rem;">
                <BarChartVerticalView ChartBars=@chartBars></BarChartVerticalView>
            </div>
        }
    </div>
    @if (displayDishSetUp)
    {
        <segment>
            <DishSetUp Refresh=@(async() => await Recalculate())></DishSetUp>
        </segment>
    }
    <div class="card free">
        <div style="width: 10rem;height: 10rem">
            <img style="width: 100%;height 100%" src=@($"images/glass_water.jpg") />
        </div>
    </div>
    <div class="card free">
        <button type="button" @onclick=GotToDatabank>
            @DictionaryHelper.Databank
        </button>
    </div>
    <div class="card free">
        <button type="button" @onclick=LogOut>
            Logout
        </button>
    </div>
}
else
{
    <CardView GetMeal=@(async (x) => await GetMeal(x))></CardView>
}

@code {

    FoodTypePie foodTypePie;

    List<FoodItem> foodItems = new();

    List<ChartBar> chartBars = new();

    bool displayDishSetUp;

    bool displayCardView;

    async Task GotToDatabank()
    {
        await InvokeAsync(() =>nav.NavigateTo("/Cards"));
    }

    async Task AddBreakfast()
    {
        await ShowCardView();
    }

    async Task AddLunch()
    {
        await ShowCardView();
    }

    async Task AddDinner()
    {
        await ShowCardView();
    }

    async Task AddSnacks()
    {
        await ShowCardView();
    }

    async Task ShowCardView()
    {
        await InvokeAsync(() => displayCardView = true);
    }

    async Task GetMeal(FoodItem foodItem)
    {
        await InvokeAsync(() =>
        {
            if (foodItem != null)
                foodItems.Add(foodItem);

            displayCardView = false;
        });

        if (foodItem != null)
            await Recalculate();
        else
            await InvokeAsync(() => StateHasChanged());
    }

    async Task Recalculate()
    {
        var kalories = foodItems.Sum(x => x.FullKalories);
        var dairy = foodItems.Where(x => x.Type == IngredientType.EggsAndDairy).Sum(x => x.FullKalories);
        var meats = foodItems.Where(x => x.Type == IngredientType.MeatAndFish).Sum(x => x.FullKalories);
        var carbs = foodItems.Where(x => x.Type == IngredientType.GrainsAndPotatoes).Sum(x => x.FullKalories);
        var vegies = foodItems.Where(x => x.Type == IngredientType.Vegetables).Sum(x => x.FullKalories);
        var fruits = foodItems.Where(x => x.Type == IngredientType.Fruits).Sum(x => x.FullKalories);
        var fats = foodItems.Where(x => x.Type == IngredientType.Fats).Sum(x => x.FullKalories);
        var sweets = foodItems.Where(x => x.Type == IngredientType.SweetsAndAlcohol).Sum(x => x.FullKalories);
        var processed = foodItems.Where(x => x.Type == IngredientType.Processed).Sum(x => x.FullKalories);

        var meals = foodItems.Where(x => x.Type == IngredientType.HomeMadeMeal).Select((x) => x as Meal);
        dairy += meals.Sum(x => x.Ingredients.Where(x => x.Type == IngredientType.EggsAndDairy).Sum(x => x.FullKalories));
        meats += meals.Sum(x => x.Ingredients.Where(x => x.Type == IngredientType.MeatAndFish).Sum(x => x.FullKalories));
        carbs += meals.Sum(x => x.Ingredients.Where(x => x.Type == IngredientType.GrainsAndPotatoes).Sum(x => x.FullKalories));
        vegies += meals.Sum(x => x.Ingredients.Where(x => x.Type == IngredientType.Vegetables).Sum(x => x.FullKalories));
        fruits += meals.Sum(x => x.Ingredients.Where(x => x.Type == IngredientType.Fruits).Sum(x => x.FullKalories));
        fats += meals.Sum(x => x.Ingredients.Where(x => x.Type == IngredientType.Fats).Sum(x => x.FullKalories));
        sweets += meals.Sum(x => x.Ingredients.Where(x => x.Type == IngredientType.SweetsAndAlcohol).Sum(x => x.FullKalories));
        processed += meals.Sum(x => x.Ingredients.Where(x => x.Type == IngredientType.Processed).Sum(x => x.FullKalories));

        var dairyData = Const.Get(IngredientType.EggsAndDairy);
        var meatsData = Const.Get(IngredientType.MeatAndFish);
        var carbsData = Const.Get(IngredientType.GrainsAndPotatoes);
        var vegiesData = Const.Get(IngredientType.Vegetables);
        var fruitsData = Const.Get(IngredientType.Fruits);
        var fatsData = Const.Get(IngredientType.Fats);
        var sweetsData = Const.Get(IngredientType.SweetsAndAlcohol);
        var processedData = Const.Get(IngredientType.Processed);

        await foodTypePie.Recalculate(foodItems);

        chartBars = new();
        if (dishData.DailyKalories > 0)
            chartBars.Add(new("Kalories", kalories / dishData.DailyKalories, $"{kalories}kcal"));

        var kal = kalories * 0.01m;
        if (dishData.EggsAndDairy > 0)
            chartBars.Add(new(dairyData.Name, dairy / kal / dishData.EggsAndDairy, $"{dairy}kcal"));
        if (dishData.MeatAndFish > 0)
            chartBars.Add(new(meatsData.Name, meats / kal / dishData.MeatAndFish, $"{meats}kcal"));
        if (dishData.GrainsAndPotatoes > 0)
            chartBars.Add(new(carbsData.Name, carbs / kal / dishData.GrainsAndPotatoes, $"{carbs}kcal"));
        if (dishData.Vegetables > 0)
            chartBars.Add(new(vegiesData.Name, vegies / kal / dishData.Vegetables, $"{vegies}kcal"));
        if (dishData.Fruits > 0)
            chartBars.Add(new(fruitsData.Name, fruits / kal / dishData.Fruits, $"{fruits}kcal"));
        if (dishData.Fats > 0)
            chartBars.Add(new(fatsData.Name, fats / kal / dishData.Fats, $"{fats}kcal"));
        if (dishData.SweetsAndAlcohol > 0)
            chartBars.Add(new(sweetsData.Name, sweets / kal / dishData.SweetsAndAlcohol, $"{sweets}kcal"));
        if (dishData.Processed > 0)
            chartBars.Add(new(processedData.Name, processed / kal / dishData.Processed, $"{processed}kcal"));

        await InvokeAsync(() => StateHasChanged());
    }

    async Task OpenDishSetUpMenu()
    {
        await InvokeAsync(() => displayDishSetUp = !displayDishSetUp);
    }

    async Task LogOut()
    {
        await storage.RemoveAsync(ConstValues.UserToken);
        await InvokeAsync(() => authorizationService.RecheckAuthorization());
    }
}

<style>
    .li-btn {
        padding: 0.5rem;
        border: 1px solid hsl(210, 75%, 87%);
        border-radius: 5px;
    }

    li {
        margin: 0.5rem;
    }
</style>

