@using FoodCards.Client.Helper
@using FoodCards.Client.Script
@using FoodCards.Client.Services

@if (Nutrients != null)
{
	<table>
		<tbody>
			<tr>
				<th>
					@DictionaryHelper.CalculateFor
				</th>
				<td>
					@($"{BaseQuantity}{MeasurmentUnit}")
				</td>
			</tr>
			<tr>
				<th>
					@DictionaryHelper.Kalories
				</th>
				<td>
					@($"{Kalories}kcal")
				</td>
			</tr>
			@foreach (var item in Nutrients)
			{
				@if (item.Value > 0)
				{
					<tr>
						<th>
							@item.Key
						</th>
						<td>
							@($"{item.Value}g")
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
}

@code {
	[Parameter]
	public decimal Kalories{ get; set; }

	[Parameter]
	public Dictionary<string, decimal> Nutrients { get; set; }

	[Parameter]
	public int BaseQuantity { get; set; }

	[Parameter]
	public string MeasurmentUnit{ get; set; }
}
